/* src/components/Satellite.css */
html, body {
    height: 100%;
    margin: 0;
}
.unique-page {
    position: relative;
    overflow: hidden;
  }
h2 {
    margin: 1rem 0;
    font-size: 2em;
}

p {
    margin: 0;
    font-size: 1.2em;
    max-width: 600px;
    text-align: center;
}

.scrollable-container {
    position: relative;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    z-index: 1; /* Ensure it is above the galaxy animation */
    overflow-y: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem; /* Space between cards */
    width: 100%;
    max-width: 1200px; /* Adjust width as needed */
  }